/* body{
    background-color: blueviolet;
} */
/* div{
    background-image: url(nature.jpg);
    width:1500px;
    height:800px;
    font-size: 100px;
    text-align:center;
    background-clip: text;
    color: transparent;


} */

body{
    background:linear-gradient(red,green,blue);
}

div{
    border:10px solid red;
    background-color: blueviolet;
    background-image: url(nature.jpg);
    width:800px;
    height:500px;
    padding:10px;
    /* background-clip:padding-box; */
    background-clip: content-box;
    }