body{
    background-image: url(wallpaper.jpg);
    color:blue;
}

.signup{
    background-color: rgba(255, 0, 251, 0.5);
    width:510px;
    margin-top:200px;
    margin-left:470px;
    font-size:20px;
    border-radius:10px;
    padding:10px;
    

}
h3{
    color:yellow;
    text-align:center;
}

.signup .text {
    display:block;
}

.box input{
       width:100%;
       font-size: 20px;
       border:3px solid blueviolet;
       border-radius: 5px;
       box-sizing: border-box;
       padding:5px 5px;
       margin:5px 5px 5px 5px;
}
input:focus{
    background-color: coral;
}
/* input:hover{
    background-color: coral;

} */


.btn{
    /* text-align:center; */
    display: inline;
    position:relative;
    left:35%;
}

button{
    background-color: blue;
    color:white;
    border-style: inset;
    border:5px solid aqua;
    margin-top:20px;
    padding:10px 10px;
    border-radius: 4px;
}

.radio input{
    accent-color: yellow;
    transform:scale(1.5);
}




















